body {
  background-color: var(--bg-main);
}
.sidebar{
  background-color: var(--bg-main);
  padding-top: 82px;
}
.sidebar__inner {
  background-color: var(--bg-main); 
  color: var(--color-accent);
  margin-top: 5px;
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 1300px;
}

@media screen and (max-width: 663px) {
  .sidebar{
    padding-top: 130px;
  }}
@media screen and (max-width: 535px) {
  .sidebar{
    padding-top: 230px;
  }
    .sidebar__box {
      flex-direction: column;  
      width: 100%; 
      max-width: 500px; 
    }
    .sidebar__inner{
        flex-direction: column;
    }
  }
  